.upperHero
{
    width:100vw;
    height:50vh;
}

.vitalyze
{
    width:100%;
    font-size: 12rem;
    color:white;
    text-align:center;
    font-family: var(--font-neue-montreal-regular);
}

.svgLeft
{
    transform: scale(0.2);
    position:absolute;
    top:-20%;
    left:-40%;
}

.svgRight
{
    position:absolute;
    top:5%;
    right:7%;
}

.vitalyzeSubText
{
    color:white;
    font-size:1.2rem;
    width:100%;
    text-align: center;
    font-family: var(--font-helvetica-now-display);
}

.colourized {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.Y{
    font-family: var(--font-playball);
    margin-right : 10px;
    font-size: 105%;
}