.generatedContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.generated {
    width: 60vw;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 15px rgb(214, 211, 211);
    display: flex;
}

.generatedImage {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editOptions {
    width: 100%;
}